a:link, a:visited {
  color: #000;
}

div#header {
  padding-bottom: 20px;
}

span#title {
  font-size: 120%;
}

div#navigation {
  float: left;
  margin: 10px;
  margin-right: 20px;
  padding-right: 35px;
  border-right: 1px solid black;
}

div#content {
  margin: auto;
  padding: 20px;
  padding-left: 140px;
}

div.content_entry {
}

