{% extends "topbar.j2" %}

{% block subnav %}
{% endblock %}

{% block content %}
<div class="navbar">
<div class="navbar-inner">
<ul class="nav">
    <li><a href="#">Articles</a></li>
    <li><a href="#">Prev</a></li>
    <li><a href="#">Next</a></li>
</ul>
</div>
</div>

<article class="post">

        <h1 class="title">
            <a href="{{ content_url(resource.url) }}">
                {{ resource.meta.title }}
            </a>
        </h1>
        <time datetime="{{ resource.meta.created.strftime('%Y-%m-%d') }}">
            Posted: {{ resource.meta.created.strftime('%a, %d %b %Y') }}
        </time>

        {% filter markdown|typogrify -%}
        {% mark post -%}
        {% block post -%}{%- endblock %}
        {%- endmark %}
        {%- endfilter %}

</article>

{% endblock %}


