{% extends "topbar.j2" %}

{% block starthead %}
<link rel="alternate" type="application/atom+xml" title="Gregory Haynes' Blog" href="http://greghaynes.net/blog/atom.xml" />
{% endblock %}

{% from "macros.j2" import render_excerpt with context  %}

{% block content %}
<div>
<ul class="listing">
{% for res in resource.node.walk_resources_sorted_by_time() %}
<li class="bloglisting">
    {{ render_excerpt(res) }}
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
