{# Columns template #}

{% extends "topbar.j2" %}

{% block content %}

<div class="row">
  <div class="span8">
      {% filter markdown -%}
      {% block main %}{% endblock %}
      {%- endfilter %}
  </div>
  <div class="span4">
    {% block sidebar %}{% endblock %}
  </div>
</div>

{% endblock content %}



